body {
  background-color: #383838;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Gill Sans", sans-serif;
  color: #e1e1e1;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

p,ul,li, i{
  font-family: Georgia, serif;
  font-size: 18px;
  color: #e1e1e1;
}

a:link {
  color: #0F82AF;
}
a:visited {
  color: #216783;
}

a:hover {
  color: #32a5d3;
}